body {
    background-image: url(../images/dungeon\ background\ arena.png);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.spell-info{
    color: red;
}

.health-bar {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border: 1px solid #333;
    position: relative;
}

.player-container {
    display: flex;
    align-items: flex-end;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10%;
}

.player img {
    max-width: 100%;
    height: auto;
}
.health-bar.player {
    background-color: #4CAF50; 
    width: 100%;
}

.helathy-bar {
    width: 200%;
    margin-left: -50%;
}

.bad-guy-healthy-bar{
    width: 150%;
}

.health-bar.enemy {
    background-color: #FF5733; 
    width: 150%;
    margin-left: -20%;
}

.attack-container {
    display: flex;
    flex-direction: row; 
    gap: 10px;  
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    margin-left: 18%;
}

.attack-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #82571a;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}