body{
    background-image: url(../images/tavern.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wizard{
    margin-left: 30%;
    margin-top: 300px;
}

.pil{
    position: absolute;
    margin-left: 75%;
    margin-top: -200px;
}
